/* new note */
.note-heading {
  border: none;
}
.note-heading:focus {
  outline: none;
}
/* toolbar */
.ql-toolbar.ql-snow {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
/* text editor */
.text-editor {
  border: none;
}
.ql-container.ql-snow {
  border: none;
  border-top: solid 1px #ccc;
}

.new-note-wrapper {
  border: solid 1px var(--secondary-dark-color);
  height: fit-content;
}

