.note-card {
  word-wrap: break-word;
  word-break: break-all;
  border: solid 1px var(--secondary-dark-color);
  font-size: 16px;
  
}
.note-card img {
  width: 100%;
}

.card-footer-icons{
  gap: 1rem;
}