.edit-modal-container {
  width: 60vw;
  height: 60vh;
}

@media (max-width: 768px) {
  .edit-modal-container {
    width: 80vw;
  }
}
@media (max-width: 600px) {
  .edit-modal-container {
    width: 95vw;
  }
}
